[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode/
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el
[submodule "site-lisp/exec-path-from-shell"]
	path = site-lisp/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "site-lisp/visual-regexp"]
	path = site-lisp/visual-regexp
	url = https://github.com/benma/visual-regexp.el/
[submodule "site-lisp/elisp-slime-nav"]
	path = site-lisp/elisp-slime-nav
	url = https://github.com/purcell/elisp-slime-nav
[submodule "site-lisp/smooth-scrolling"]
	path = site-lisp/smooth-scrolling
	url = http://github.com/aspiers/smooth-scrolling/
[submodule "site-lisp/ido-ubiquitous"]
	path = site-lisp/ido-ubiquitous
	url = https://github.com/DarwinAwardWinner/ido-ubiquitous
[submodule "site-lisp/ido-better-flex"]
	path = site-lisp/ido-better-flex
	url = http://github.com/vic/ido-better-flex
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = http://github.com/capitaomorte/yasnippet
