[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode/
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el
[submodule "site-lisp/exec-path-from-shell"]
	path = site-lisp/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "site-lisp/visual-regexp"]
	path = site-lisp/visual-regexp
	url = https://github.com/benma/visual-regexp.el/
[submodule "site-lisp/elisp-slime-nav"]
	path = site-lisp/elisp-slime-nav
	url = https://github.com/purcell/elisp-slime-nav
[submodule "site-lisp/smooth-scrolling"]
	path = site-lisp/smooth-scrolling
	url = http://github.com/aspiers/smooth-scrolling/
[submodule "site-lisp/ido-ubiquitous"]
	path = site-lisp/ido-ubiquitous
	url = https://github.com/DarwinAwardWinner/ido-ubiquitous
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = http://github.com/capitaomorte/yasnippet
[submodule "site-lisp/browse-kill-ring"]
	path = site-lisp/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el
[submodule "site-lisp/jump-char"]
	path = site-lisp/jump-char
	url = https://github.com/lewang/jump-char
[submodule "site-lisp/change-inner"]
	path = site-lisp/change-inner
	url = https://github.com/magnars/change-inner.el.git
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el
[submodule "site-lisp/find-file-in-project"]
	path = site-lisp/find-file-in-project
	url = git://github.com/technomancy/find-file-in-project.git
[submodule "site-lisp/wgrep"]
	path = site-lisp/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/tagedit"]
	path = site-lisp/tagedit
	url = https://github.com/magnars/tagedit.git
[submodule "site-lisp/smartparens"]
	path = site-lisp/smartparens
	url = https://github.com/Fuco1/smartparens
[submodule "site-lisp/smart-forward"]
	path = site-lisp/smart-forward
	url = https://github.com/magnars/smart-forward.el.git
[submodule "site-lisp/eproject"]
	path = site-lisp/eproject
	url = git://github.com/jrockway/eproject
[submodule "site-lisp/fold-this"]
	path = site-lisp/fold-this
	url = https://github.com/magnars/fold-this.el.git
[submodule "site-lisp/color-theme-tangotango"]
	path = site-lisp/color-theme-tangotango
	url = https://github.com/juba/color-theme-tangotango.git
[submodule "site-lisp/emacs-bash-completion"]
	path = site-lisp/emacs-bash-completion
	url = https://github.com/szermatt/emacs-bash-completion
[submodule "site-lisp/zencoding"]
	path = site-lisp/zencoding
	url = https://github.com/rooney/zencoding
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode/
[submodule "site-lisp/js2-refactor"]
	path = site-lisp/js2-refactor
	url = https://github.com/magnars/js2-refactor.el
